.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
}

.headerBlock {
  padding: 3rem;
  display: flex;
  flex-direction: column;

  .commissionStatusOpen {
    font-weight: bold;
    text-shadow: 0 0 0.5em #1dcc49;
    color: lightgreen;
  }

  .commissionStatusClosed {
    font-weight: bold;
    text-shadow: 0 0 0.5em #edd0d0;
    color: lightcoral;
  }

  .headerText {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 1rem;
  }

  .headerSubtext {
    justify-content: center;
    text-align: center;
  }
}
